@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Somos uma empresa que respeita o cliente em primeiro lugar</p>
<p>Developed by @ViewData["DeveloperOwner"]</p>

<p>
    <strong>Email: </strong> @ViewData["Email"]
</p>
<address>
    <strong>More Information: </strong> <a href = "https://www.google.com/"> Google.com</a>
</address>
